<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body" ng-bind="content" ng-form="ModalForm">



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" ng-click="Save()" ng-disabled="ModalForm.$invalid"><i class="glyphicon-plus"></i>Agregar</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="$hide()"><i class="glyphicon-remove"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>